<div class="container-fluid">
	
	<a class="navbar-brand" href="/">v</a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/">~</a>
      <a class="nav-link" href="/about">1</a>
      <a class="nav-link" href="/contact">@</a>
      <a class="nav-link" href="/sketches">#</a>
    	<a class="nav-link" href="/courses">$</a>
    	<a class="nav-link" href="/projects">%</a>
    	<a class="nav-link" href="/resume">^</a>
    	<a class="nav-link" href="/posts">&</a>
    	<a class="nav-link" href="/sketch">*</a>
    	<a class="nav-link" href="/search">0</a>
		  <a class="nav-link" href="/books">=</a>
    </div>
  </div>
  
</div>